<div class="centerSquare center center-text primary-color background-color">
    <h2>How many organizations there are:</h2>
    <h4 class="secondary-color">{{numberOfOrganizations}}</h4>
    <!-- textbox -->
    <textarea name="" #writtenOrganization cols="40" rows="2" placeholder="Write the name of an existing organization"></textarea>
    <!-- first button -->
    <div class="container row">
        <div class="col-md-6">
            <button type="button" class="btn btn-light primary-color button-background-color" (click)=" getNumberOfRepositories(writtenOrganization.value) ">
            Number of repositories
        </button>
        </div>
        <!-- second button -->
        <div class="col-md-6">
            <button type="button " class="btn btn-light primary-color button-background-color " (click)="getBiggestRepository(writtenOrganization.value)">
            Biggest repository
        </button>
        </div>
    </div>
    <!-- result -->
    <div class="container row align-middle">
        <div class="col-md-6">
            <p class="primary-color" [hidden]='numberOfRepositories == -99'>Owned repositories: {{numberOfRepositories}}</p>
        </div>
        <div class="col-md-6">
            <div class="" [hidden]='biggestRepository.name == ""'>
                <p class="primary-color">Name: {{biggestRepository.name}}</p>
                <p class="primary-color">Size: {{biggestRepository.size}} bytes</p>
            </div>
        </div>
    </div>
</div>